<%= render "header" %>
<form method="POST" action="/add">
<%=token_tag%>
<div class="col-6" style="margin: 0 auto">
    <div class="mb-3">
      <label for="titleid" class="form-label">TITLE</label>
      <input type="text" class="form-control" id="titleid" name="title" placeholder="text">
    </div>
    <div class="mb-3">
      <label for="descriptionid" class="form-label">Description</label>
      <textarea class="form-control" id="descriptionid" name="description:" rows="3"></textarea>
    </div>
   
  </div>
  <div class="mb-3">
      <input type="Submit" class="btn btn-primary" value="Add" style="display:block;margin:0 auto">
    </div>  
  </form>
<hr>

<% Post.all.each do |post| %>

  <div class="card" style="width: 18rem; margin:0 auto ">
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <div class="card-body">
    <h5 class="card-title"> <%post.title %></h5>
    <p class="card-text"> <%post.description %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<% end %>
<%= render "footer" %>

